body {
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  background-color: #002B36;
  color: white;
  padding: 10px 0;
}

h1 {
  font-weight: bold;
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #002B36;
  margin: 0 0 5px 0;
}

.column {
  width: 33%;
  float: left;
  margin: 20px 0;
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: #0088aa;
  display: block;
  padding: 2px 0;
}

p {
  padding: 10px 0;
}

@media (max-width: 1020px) {
  body {
    text-align: center;
  }

  .column {
    width: 100%;
    float: none;
    margin: 20px auto;

  }
  .row {
    margin: 0 auto;
  }
}
